@font-face {
  font-display: swap;
  font-family: 'Inter-Variable';
  font-weight: 400 785;
  src: 
    local('Inter-Variable'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
}

@font-face {
  font-display: swap;
  font-family: 'PressStart2P';
  font-weight: 400;
  src:
    local('PressStart2P'), 
    url(./PressStart2P-Regular.woff) format('woff');
}
