:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", monospace;
  --card-text-weight: 400;
  --card-title-weight: 700;
  --page-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --accent-color: #000;
  --main-border: 2px solid currentColor;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --animation-color: rgba(255, 0, 0, 1);
}
